.about__wrapper {
    min-height: 70svh;
    max-height: fit-content;
    width: 100%;
    background: url('../../images/layered-peaks-haikei.svg') no-repeat center/cover;
    display: grid;
    grid-template-columns: 60% 1fr;
    padding: 2em 1em;
    margin-top: 15em;
}

.about-section {
    width: 100%;
    height: 100%;
    position: relative;
}

.dummy-circle-1 {
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 15em;
    max-height: 15em;
    width: 15vw;
    height: 15vw;
    border-radius: 100vw;
    background: rgb(235, 87, 87, 0.7);
}

.maincircle {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;

}

.maincircle {
    text-align: center;
    gap: 0.5em;
    top: 14%;
    left: 14%;
    max-width: 25em;
    max-height: 25em;
    width: 25vw;
    height: 25vw;
    border-radius: 100vw;
    background: rgb(242, 153, 74, 0.8);
    z-index: 5;
}

.heading-about {
    font-size: 1.6em;
    font-weight: 600;
}

.dummy-circle-2 {
    position: absolute;
    left: 45%;
    top: 60%;
    max-width: 12em;
    max-height: 12em;
    width: 12vw;
    height: 12vw;
    border-radius: 100vw;
    background: rgb(36, 103, 64, 0.7);
    z-index: 2;
}

.about__detail-section {
    width: 80%;
    height: fit-content;
    padding: 1.5em 2.5em;
    background: rgb(242, 153, 74, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.3em;
}

.about__detail-section>p {
    font-size: 0.7em;
    text-align: center;
}

.heading-siteName:not(.siteName>p)>p {
    font-size: 0.9em;
    opacity: 0.7;
}

.siteName {
    display: flex;
    font-size: 1.3em;
    font-family: "Montserrat Alternates";
    font-weight: 800;
    color: var(--red);
}

.teamMember {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-weight: 600;
}

.teamMember>div {
    display: flex;
    gap: 1em;
    align-items: center;
}

.teamMember img {
    width: 2em;
    height: 2em
}

.socialMedia {
    display: grid;
    grid-auto-flow: column;
    gap: 4vw;
    grid-auto-columns: auto;
}

.socialMedia {
    width: fit-content;
}

.socialMedia img {
    padding: 1em;
    background: var(--red);
    border-radius: 100vw;
    transition: background 0.3s ease;
}
@media (hover:hover) {
    .socialMedia img:hover {
        background: #000;
    }
}

@media (hover:none) {
    .socialMedia img:active {
        background: #000;
    }
}

@media (max-width:1301px) {
    .about__detail-section {
        width: 90%;
    }
}

@media (max-width:1301px) {
    .about__detail-section {
        width: 95%;
    }

    .dummy-circle-1 {
        width: 20vw;
        height: 20vw;
    }

    .maincircle {
        width: 30vw;
        height: 30vw;
    }

    .dummy-circle-2 {
        width: 17vw;
        height: 17vw;
    }

}

@media (max-width:1026px) {
    .about__detail-section {
        font-size: 1.1em;
        padding: 1.5em 2em;
    }

    .maincircle {
        font-size: 0.9em;
    }
}

@media (max-width:866px) {
    .about__wrapper {
        min-height: 60svh;
        grid-template-columns: 55% 1fr;
        padding: 1em 1em;
    }
    .about__detail-section {
        gap: 1em;
        font-size: 1em;
        padding: 1.5em 1.5em;

    }   
    .teamMember {
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-weight: 600;
    }
    .socialMedia img {
        padding: 0.5em;
    }
    .dummy-circle-1 {
        width: 17vw;
        height: 17vw;
    }

    .maincircle {
        width: 27vw;
        height: 27vw;
        font-size: 0.8em;
        padding: 1.5em;
    }

    .dummy-circle-2 {
        width: 14vw;
        height: 14vw;
    }
}

@media (max-width:769px) {
    .maincircle {
        font-size: 0.7em;
        padding: 1em;
        width: 30vw;
        height: 30vw;
        top: 20%;
        left: 20%;
    }
    .about__detail-section {
        align-self: center;
        gap: 1em;
        font-size: 0.9em;
        padding: 1.2em 1.5em;

    }
    .dummy-circle-2 {
       left: 50%;
       top: 65%;
    }
}

@media (max-width:546px){
    .about__wrapper {
        grid-template-columns: 50% 1fr;
        padding: 1em 0.5em;
    }
    .about__detail-section {
        gap: 0.8em;
        padding: 1.2em 1em;

    }
    .maincircle {
        font-size: 0.7em;
        padding: 1em;
        width: 35vw;
        height: 35vw;
        top: 20%;
        left: 10%;
    }
}

@media (max-width:491px) {
    .maincircle {
        font-size: 0.7em;
        padding: 1em;
        width: 40vw;
        height: 40vw;
        top: 20%;
        left: 0%;
    }
}

@media (max-width:426px) {
    .about__wrapper {
        min-height: 50svh;
        
    }
    .about__detail-section {
        gap: 1em;
        font-size: 0.8em;

    }
    
    .teamMember{
        gap: 0.6em;
    }
    .maincircle {
        font-size: 0.6em;
    }
    .socialMedia img {
        padding: 0.4em;
        height: 2.3em;
        width: 2.3em;
    }
}