.checkup__form{
    max-width: 100%;
    display : flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0 4em;
    justify-content: center;
}
.formInputs__wrapper{
    display: flex;
    gap: 1em;
    max-width: 100%;
}
.forminput__container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 0.5em; */
}
.submit-btn__wrapper button{
    cursor: pointer;
    padding: 0.6em 1em;
    font-size: 1.1em;
    border: none;
    background: var(--orange);
}
.submit-btn__wrapper button:active{
    opacity: 0.7;
}